lib/*

build/*
OutputCMake/*

**/CMakeFiles*

# Whitelisting doesn't work the same in .dockerignore.
# When updating folder stucture of OutputCMake, run:
# $ find OutputCMake/ -name \*.gitkeep
# Copy / Paste the result below, prefix with '!'
!OutputCMake/main/.gitkeep
!OutputCMake/test/EthernetTest/mbed/.gitkeep
!OutputCMake/test/EthernetTest/computer/.gitkeep
!OutputCMake/test/LidarLite/mbed/.gitkeep
!OutputCMake/test/LidarLite/computer/.gitkeep
!OutputCMake/test/blink/.gitkeep
!OutputCMake/test/CANTest/mbed/.gitkeep

!/lib/mbed-cmake/
!/lib/nanopb/
